@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.connect {
  margin-top: 12px;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.connect:hover {
  color: blue;
}

img {
  transition: 1s;
  overflow: hidden;
}

img:hover {
  transform: scale(1.03);
}

.card,
header {
  overflow: hidden;
}

.icons {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
  padding-left: 0;
}

.card-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.profile-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.languages {
  background: #ebebff;
  border-radius: 8px;
  letter-spacing: 0.03em;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px;
}

.btn-enabled {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
}

.btn-disabled {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  margin-top: 20px;
  padding: 12px;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #396df2;
}

.btn-pressed {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #7a869a;
  margin-top: 20px;
  padding: 12px;
  border: 1px solid #7a869a;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
}

.about {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  width: 327px;
  height: 101px;
  align-items: center;
  color: #172b4d;
  padding-right: 24px;
}

.about-content {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-right: 24px;
  text-align: justify;
}

button:hover {
  background-color: #396df2;
  color: white;
}

.btn-submit {
  padding: 12px 16px;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-top: 20px;
}

form {
  margin-top: 47px;
}

@media only screen and (min-width: 992px) {
  header {
    display: flex;
    padding: 25px 154px 25px 154px;
  }

  .logo {
    line-height: 20px;
    text-align: center;
    color: #6070ff;
  }

  .onion {
    display: none;
  }

  .menu {
    display: flex;
    margin-left: auto;
    list-style-type: none;
  }

  .menu-items {
    margin-right: 32px;
    color: #344563;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  #main {
    background-image: url("images/Header-bg@2x.png");
    background-repeat: no-repeat;
    background-size: 72%;
    height: 80vh;
    width: 100%;
    margin: 0 8px 0 34.6px;
    padding-top: 120px;
    padding-right: 260px;
    padding-left: 260px;
    align-items: center;
  }

  .primary-text1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    padding-top: 50px;
    margin-right: 10px;
    width: 60%;
  }

  .primary-text2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    width: 60%;
    padding-top: 12px;
  }

  #works {
    background: #e5e5e5;
    padding-left: 142px;
    padding-right: 142px;
    padding-bottom: 142px;
    padding-top: 76px;
  }

  .card {
    display: flex;
    background: #fff;
    border: 1px solid #dfe1e6;
    margin-top: 142px;
    border-radius: 24px;
    padding: 24px;
    flex-wrap: wrap;
  }

  .card1 {
    margin-top: 0;
  }

  .profile-image {
    flex: 1;
    width: 544px;
    height: 448px;
  }

  .card-item {
    width: 100%;
    flex: 1;
    margin-left: 10px;
  }

  .btn-enabled {
    margin-top: 54px;
  }

  .canopy {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .bg {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #7a869a;
  }

  .counter {
    width: 8px;
    height: 8px;
    margin: -1px -1px;
  }

  #about {
    background-image: url(images/about-container.jpeg);
    display: flex;
    padding: 142px 182px 154px 142px;
    border-top-right-radius: 50px;
    border: 1px #fff solid;
  }

  .about-item1 {
    flex: 1;
  }

  .about-item2 {
    flex: 1;
  }

  .lang {
    display: flex;
  }

  .lang-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    color: #344563;
  }

  .lang-drop-down {
    margin-left: auto;
  }

  .lang-list {
    display: flex;
    list-style-type: none;
    padding: 10px;
  }

  .lang-list-box {
    width: 122px;
    height: 120px;
    left: 12px;
    top: 12px;
    background: #f7f7f9;
    padding: 12px;
    border-radius: 8px;
    margin-right: 12px;
  }

  .lang-list-box img {
    padding-bottom: 16px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #dfe1e6;
  }

  .mt {
    margin-top: 36px;
  }

  footer {
    background-image: url(images/ContactMe.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    height: 846px;
    justify-content: center;
    align-content: center;
  }

  .contact-me {
    width: 801px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
  }

  .contact-text {
    text-align: center;
    width: 801px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    padding-right: 300px;
    padding-left: 300px;
  }

  form {
    width: 801px;
  }

  .input-container {
    margin-top: 20px;
    display: flex;
    padding-right: 160px;
    padding-left: 160px;
  }

  .input {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    padding: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    color: #172b4d;
    width: 400px;
  }

  .btn-submit-container {
    padding-right: 300px;
    padding-left: 300px;
  }
}

@media only screen and (max-width: 992px) {
  header {
    display: flex;
    margin: 20px;
    width: 90%;
  }

  .logo {
    line-height: 20px;
    display: flex;
    text-align: center;
    color: #6070ff;
  }

  .menu {
    display: none;
  }

  .onion {
    margin-left: auto;
  }

  #main {
    background-image: url("images/header-shapes.svg");
    background-size: 100%;
    height: 80vh;
    width: 100%;
    padding: 0 24px 0 24px;
  }

  .primary-text1 {
    padding-top: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #172b4d;
  }

  .primary-text2 {
    color: #344563;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    text-justify: auto;
    padding-top: 12px;
    width: 90%;
  }

  .connect {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #7f8cff;
    text-decoration: none;
  }

  .connect:hover {
    color: blue;
  }

  #works {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(552px, auto);
    grid-gap: 10px;
    width: 100%;
    background: #e5e5e5;
  }

  .card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 30px 22px;
  }

  #works .card {
    padding: 16px;
  }

  .profile-image {
    order: 1;
    height: 220px;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .card-item {
    order: 2;
  }

  .btn-enabled {
    margin-top: 42px;
  }

  .canopy {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .bg {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .counter {
    width: 8px;
    height: 8px;
    margin: -3px -1px;
  }

  .lang {
    display: flex;
  }

  .lang-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    color: #000;
    padding-left: 15px;
    padding-top: 20px;
  }

  .lang-drop-down {
    margin-left: auto;
    padding-top: 18px;
    padding-right: 66px;
  }

  .lang-list {
    list-style-type: none;
    margin: 36px;
    padding: 0;
  }

  .lang-list-box {
    display: flex;
    background: #f7f7f9;
    border-radius: 8px;
    height: 66.72px;
    width: 100%;
    margin-top: 10px;
  }

  .lang-list-box .icon {
    padding: 9px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 46px;
    background: #dfe1e6;
    width: auto;
  }

  footer {
    background-image: url(images/ContactMe.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    margin-top: 113.8px;
  }

  .contact-me {
    width: 100%;
    color: #fff;
    padding-top: 103px;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }

  .contact-text {
    margin-top: 12px;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  .input-container {
    margin-top: 20px;
    display: flex;
  }

  .input {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    padding: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #172b4d;
    width: 305px;
  }

  .about {
    margin-top: 114px;
  }

  #about {
    padding-right: 24px;
    padding-left: 24px;
  }

  .about-content {
    margin-top: 12px;
  }
}

.menu-items {
  transition: 2s;
}

.menu-items:hover {
  transform: translateX(20px);
}
