
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  display: flex;
  margin: 20px;
}

.logo {
  line-height: 20px;
  display: flex;
  text-align: center;
  color: #6070ff;
}

.onion {
  margin-left: auto;
}

#main {
  background-image: url("images/header-shapes.svg");
  background-size: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  margin: 12px;
  flex-wrap: wrap;
}

.primary-text1 {
  padding-top: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.intro {
  width: 60%;
  padding-left: 10px;
}

.primary-text2 {
  color: #344563;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  text-justify: auto;
  padding-left: 3px;
  width: 90%;
}

.connect {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  text-decoration: none;
}

.connect:hover {
  color: blue;
}

.icons {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
  padding-left: 0;
}

#works {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(552px, auto);
  grid-gap: 10px;
  width: 100%;
  background: #e5e5e5;
}

.card {
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 30px 22px;
}

#works .card {
  padding: 16px;
}

.profile-image {
  height: 220px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.card h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0;
  color: #172b4d;
}

.canopy {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.counter {
  width: 8px;
  height: 8px;
  margin: -3px -1px;
}

.bg {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.profile-description {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.languages {
  background: #ebebff;
  border-radius: 8px;
  letter-spacing: 0.03em;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px;
}

.btn-enabled {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-top: 20px;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
}

.btn-disabled {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  margin-top: 20px;
  padding: 12px;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #396df2;
}

.btn-pressed {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #7a869a;
  margin-top: 20px;
  padding: 12px;
  border: 1px solid #7a869a;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
}

#about {
  width: 375px;
  background: #fff;
  border-radius: 8px;
  border-top-right-radius: 25px;
  padding: 0 24px;
}

.about {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  width: 327px;
  height: 101px;
  align-items: center;
  color: #172b4d;
  padding-right: 24px;
}

.about-content {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-right: 24px;
}

.lang {
  display: flex;
}

.lang-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  padding-left: 15px;
  padding-top: 20px;
}

.lang-drop-down {
  margin-left: auto;
  padding-top: 18px;
  padding-right: 66px;
}

.lang-list {
  list-style-type: none;
  margin: 36px;
  padding: 0;
}

.lang-list-box {
  display: flex;
  background: #f7f7f9;
  border-radius: 8px;
  height: 66.72px;
  width: 100%;
  margin-top: 10px;
}

.lang-list-box .icon {
  padding: 9px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 46px;
  background: #dfe1e6;
  width: auto;
}

button:hover {
  background-color: #396df2;
  color: white;
}

footer {
  background-image: url(images/ContactMe.png);
  background-size: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  margin-top: 113.8px;
}

.contact-me {
  width: 100%;
  color: #fff;
  padding-top: 103px;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.contact-text {
  margin-top: 12px;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

form {
  margin-top: 47px;
}

.input-container {
  margin-top: 20px;
  display: flex;
}

.input {
  flex: 1;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 305px;
}

.btn-submit {
  padding: 12px 16px;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}
